/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif;
}

/* ----------------------------------------
images 
------------------------------------------- */
img {
  max-width: 100%;
}


.project-pics section {
  /* Set position to relative */
  position: relative;
}


.project-pics .overlay {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 

  /* Set position to absolute */
  /* Use top left bottom right to position */
  /* opacity: 0; */
  /* Add CSS transition */
}


/* Google "Zoom image on hover CSS" */
.project-pics section:hover .overlay {
    opacity: 1;
}


/* ----------------------------------------
Navigation
------------------------------------------- */

nav {
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  text-align: center;
  background:#FFFFFF;
  transition: all .8s ease-in-out;
}
.scroll{
  z-index: 100;
  background-color: #333;
  color: red;
}
nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav ul li {
  float: left;
  margin: 0 10px;
  list-style: none;
}

nav a {
  color: #fff;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
  text-decoration: none;
  color: #999;
}

nav ul li a:hover {
  color: #555;
}

/* ----------------------------------------
section
------------------------------------------- */

blockquote {
  margin: 40px 0;
  letter-spacing: 0.4em;
}

#home{
  /*padding-top: 30px;*/
  background-image: url('../images/paper.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  /*z-index: auto;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
}

.title {
  /* text-align: center; */
  text-transform: uppercase;
  height:200px;
  display: flex;
  height: 750px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


}

.about_h1{
  margin-top: 120px;
}

.myName{
  
  letter-spacing: 1em;
  word-spacing: 0.2em;
  padding-bottom: 20px;
  font-size: 48px;
  
}
.small_title {
  word-spacing: 0.1em;
  letter-spacing: 0.5em;
  font-size: 16px;
  
}

.about_page{
  text-align: center;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
  text-transform: uppercase;

}

section {
  min-height: 100vh;
  text-align: center;
  text-transform: uppercase;
}
.col2{
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: none;
  flex-wrap: wrap;
}

.col2 p{
  width: 25%;
  text-align: justify;
  padding: 0 30px;
}

 h1{
  letter-spacing: 0.2em;
}

.section-inner {
  padding-top: 80px;
  
}

.container{
  display: flex;
  flex-direction: row;

}

#home, #project, #contact {
  /*background-color: #dfdfdf;*/
}

#about, #resume {
 /* background-color: #F07057;*/
}


.active {
  /*background-color: #00AEEF;*/
  color: #ddd;
}



/*---------------------------------------------------------
  G L O B A L
----------------------------------------------------------- */
.panel_a {
  text-decoration: none;
  color: #000;
}

/*---------------------------------------------------------
  C O N T A I N E R
----------------------------------------------------------- */
#panel_container {
 /*  width: 600px; */
  margin: 20px auto;
}

#tab_content{
  /* border: 3px solid #dfdfdf;
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  height: 400px; */
}

/*---------------------------------------------------------
  N A V
----------------------------------------------------------- */
.panel_ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  
}

.panel_nav li {
  
  display: inline-block;
  
}

/* .panel_nav {
    margin-bottom: 30px;
} */

.panel_nav a {
  display: inline-block;
  margin: 10px 20px;
  padding-bottom: 5px;
}


.tab_active a {
  cursor: default;
  border-bottom: 2px solid black;
}
a.panel_a:hover {
  color: #777;
}
.tab_active a:hover{
  color: black;
}

/*---------------------------------------------------------
  P A N E L S
----------------------------------------------------------- */
.panel {
  display: none;
  text-align: center;
}

#ux{
  display: block;
}

/*---------------------------------------------------------
Project Images effect
----------------------------------------------------------- */


.section_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.div_container {
  margin-right: .6%;
  margin-bottom: .6%;
  border: 2px solid #ccc;

}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(255,255,255,0.9);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #666;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #666;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 80%;
}
/* image zoom in */

.content img{
  max-width: 100%;
  transition: all 0.5s;
}
.content:hover img{
   transform: scale(1.1);
}
/* image zoom in  end */



.div_container a:visited {
    text-decoration: none;
}

.div_container a:hover {
    text-decoration: none;
}

/*---------------------------------------------------------
Resume
----------------------------------------------------------- */
.resume_wrapper{
  font-family: 'Source Sans Pro', sans-serif;
  width: 90%;
  margin:  0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: yellow; */
}

.resume_flex {
  width: 20%;
  margin: 30px;
  border-top-width: 3px;
  border-top-style: solid;  
}
/* .resume_flex p{
  letter-spacing: 0.5em;
}
 */


.resume_title {
    text-align: left;
}

.green{
    
    border-color: #A7B742;
}
.orange{
 
  border-color: #FF821F;
  width: 40%;
}
.yellow {
  border-color: #F1C336;
}
.blue{
  border-color: #87CCE6;
  width: 60%;
  margin-left: 330px;

}




/*---------------------------------------------------------
Footer
----------------------------------------------------------- */
.social-links {
  padding-top: 30px;
  /* padding-bottom: 30px; */
  font-size: 30px;
}
.social-links a{
  display: inline-block;
  padding: 0 10px;
}

.style_input{
  margin-bottom: 60px;
}

input {
    width: 23.5%;
    padding: 8px;
    border-color:transparent;

}

.buttom {
  width: 13%;
  margin-left: 30px;
  border: 2px solid #3C4A53;
  background-color: #CBF3F5;
  color: #555;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
}

input.buttom:hover {
  background-color: #989898;
  color: white;
  border: none; 
}

hr {
  
  width: 100%;
  border: 0;
  background-color: #3C4A53;
  height: 2px;
}



footer {
  padding: 25px;
  /* margin-top: 50px;
  min-height: 20vh; */
  text-align: center;
  background-color: #f4f4f4;
  
}

footer p {
  
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
  word-spacing: 0.3em;
  font-size: 12px;
  letter-spacing: 0.4em;
  
}

footer a{
  text-decoration: none;
  color: #3C4A53;

  
}

footer a:hover{

  color: #7D898F;
}


/* .fa-facebook-square, .fa-twitter-square, .fa-instagram:before{
  font-size: 25px;
} */


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7B878D;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 12px;
}
/*---------------------------------------------------------
Footer effect
----------------------------------------------------------- */

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


.faa-ring.animated:hover,
.faa-parent.animated:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}





/*---------------------------------------------------------
MEDIA QUERY
----------------------------------------------------------- */
@media only screen and (max-width: 980px) {
  .col2 p {
    width: 100%;
  }
}





